
<!--
<form method="POST" action="/users" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for ="username" >Username </label><br>
  <input type = "text" placeholder="username" name="user[username]"><br>

  <label for="email">E-mail </label><br>
  <input type = "email" placeholder="E-mail" name="user[email]"><br>

  <label for ="password"> Password </label><br>
  <input type="password" placeholder="enter a password" name="user[password]"><br>

  <input type="submit" name="commit" value="Submit form" >
</form>
-->

<%= form_for(@user) do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>

  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>

  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  
  <%= f.submit "Submit form" %>
<%end%>


